*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    text-decoration: none;
    color: #000;
}

.container_resposta_API h2{
    text-align: center;
    color: #fff;
}

.seta{
    color: #b82525;
}

.container_filmes{
    justify-content: center;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, 15rem);
    gap: 2rem;
}

.container{
    background: #1C1C28;
}

.App{
    background: #c7c7c7;
}


@media (max-width: 1000px){
    .container_filmes{
        grid-template-columns: repeat(auto-fit, 13rem);
        gap: 1.5rem;
    }
}

