.carta_filme{
    height: auto;
    width: 15rem;
    border-radius: 8px;
    text-align: center;
    margin: 1.5rem ;

    color: #b82525;
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.5s;
}

.carta_filme:hover {
    transition: 0.3s;
    transform: scale(1.05);
    
    cursor: pointer;
}

.carta_filme img{
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 0.7rem;
}

.nome_filme{
    text-decoration: none;
    color: #b82525;
}

.foto_container{
    display:inline-block;
    position: relative;
}

.foto_container button{
    position:absolute;
    width: 80%;
    height: 80%;
    top:50%;
    left:50%;
    -webkit-transform:translate3d(-50%, -50%, 0);
    -moz-transform:translate3d(-50%, -50%, 0);
    transform:translate3d(-50%, -50%, 0);

    background: transparent;
    border: 0;
    font-size: 4rem;
    color: #b82525;
}

.foto_container button:hover {
    transition: 0.3s ease-out;
    color: #b82525;
    opacity: 0.6;
    cursor: pointer;
}

.inf_container{
    padding: 0.3rem;    
}

.nota {
    padding: 0.2rem;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.25rem;

    color: #a67c00;
}

.num_nota{
    color: #a67c00;
}


@media (max-width: 1000px){
    .carta_filme{
        height: auto;
        width: 13rem;
    }
}

@media (max-width: 800px){
    .carta_filme{
        height: auto;
        width: 10rem;
    }
}



