.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    box-shadow: 1px 1px 3px #c7c7c7;
    gap: 0.5rem;
}

.title {
    
}

.input_pesquisa{
    height: 2rem;
    border-radius: 8px;
    border: 0;
    background: transparent;
    text-align: center;
    padding: 1rem;
    width: 90%;
    font-family: Arial;
    font-weight: bold;
    outline: none;
}


.bt_pesquisar{
    background: transparent;
    border: 0;
    font-weight: bold;
    transition: all 0.5s;
}

.bt_pesquisar:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.pesquisa_user{
    width: 20rem;
    border-radius: 8px;
    border: 0;
    box-shadow: 1px 1px 4px #c7c7c7;
    background: #ece7e7;
    text-align: center;
}

.pesquisa_user input::placeholder{
    color: #a5a4a4;
    font-weight: normal;
}